@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");

* {
  box-sizing: border-box;
  font-family: "Stylish", serif;
}

.logo,
.item-modal {
  font-family: "Stylish", serif;
}

body {
  background-color: black;
  color: white;
}
