<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/common.css" />
    <link rel="stylesheet" href="./style/header.css" />
    <link rel="stylesheet" href="./style/main.css" />
  </head>
  <body>
    <div>
      <header class="p-20">
        <h1 class="logo">영화 정보</h1>
        <div>
          <input type="text" placeholder="검색" id="search-input" />
          <button id="search-button">검색</button>
        </div>
      </header>

      <main>
        <section class="card-view">
          <!-- item-list가 카드 추가 영역 -->
          <div class="item-list" id="item-container"></div>
        </section>
      </main>
    </div>
    <script type="module" src="../src/main.js"></script>
  </body>
</html>
