* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

/* header 영역 */
header {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.logo {
  color: red;
}

/* main 영역 */
.card-view {
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
}

/* 그리드 공부 */
.item-list {
  display: grid;
  /* margin: 48px 0; */
  grid-template-columns: repeat(4, 200px);
  /* grid-column-gap: 160px; */
  /* grid-row-gap: 48px; */
}

.item-card {
  background-color: green;
  margin: 20px;
}

.movie-image {
  width: 80%;
}
